<div class="row">
    <div class="col-md-4">
        <div class="center-cropped" style="background-image:url({{vm.data.pictures[0]}})"></div>
        <h3>{{vm.data.name}}</h3>
        <p>{{vm.data.description}}</p>
        <button ng-click="vm.goBack()" class="btn btn-default"><</button>
        <br/>
        <br/>
    </div>
    <div class="col-md-8">
        <table class="table tree">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr ng-repeat="d in vm.data.additionalProperties">
                <td>
                    {{d.name}}
                </td>
                <td>
                    {{d.value}}
                </td>
            </tr>
        </table>
    </div>
</div>